/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-jun-2020, 13:23:46
    Author     : JOZE RODRIGUEZ
*/

div{
	border: 0.2em solid white;
	margin: 1%;
	
}



@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Usage as a mixin
.element {
  @include clearfix;
}
